.custom-navbar {
  background-color: #000;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #fff;
}

.custom-navbar .nav-link:hover {
  color: #f4d700;
}

.custom-body{
  background-color: #1b1b1b;
  color: white;
}

.custom-body a{
  color: white;
}